{% extends "base_home.html" %}
{%  block content %}
<div class="container" style="margin-top: 100px;">
        <h1 style="border-bottom-style: solid;border-bottom-color: var(--bs-indigo);width: 170px;">Reports</h1>
    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="table-responsive" style="margin-top: 50px;">
            <table class="table table-fit">
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Title</th>
                        <!--th>Attendance</th-->
                        <th>date</th>
                        <th>Author</th>
                        <th>Report</th>
                    </tr>
                </thead>
                <tbody id="data">
                </tbody>
            </table>
        </div>
    </div>
<script>
data = {{ events | safe }};
table = document.getElementById("data");
// insert data into the table use columns meeting id, title, date, author, view button
for (i = 0; i < data.length; i++) {
    row = table.insertRow(i);
    cell1 = row.insertCell(0);
    cell2 = row.insertCell(1);
    cell3 = row.insertCell(2);
    cell4 = row.insertCell(3);
    cell5 = row.insertCell(4);
    cell1.innerHTML = data[i].meeting_id;
    cell2.innerHTML = data[i].title;
    cell3.innerHTML = data[i].meeting_date;
    cell4.innerHTML = data[i].author;
    cell5.innerHTML = `<a href="/view_report/${data[i].meeting_id}" class="btn btn-primary">View</a>`;
}

</script>

{% endblock %}
